BeautifulSoup==3.2.1
Fabric==1.7.0
Jinja2==2.7
Markdown==2.3.1
MarkupSafe==0.18
PIL==1.1.7
PyYAML==3.10
Pygments==1.6
argparse==1.2.1
beautifulsoup4==4.2.0
chardet==2.0.1
commando==0.3.4
fswrap==0.1.1
hyde==0.8.7
language-selector==0.1
markdown2==2.1.0
paramiko==1.11.0
pyOpenSSL==0.13
pycrypto==2.6
python-dateutil==2.1
python-magic==0.4.3
pytz==2013b
simplejson==3.3.0
six==1.3.0
smartypants==1.6.0.3
ssh==1.8.0
typogrify==2.0.0
wsgiref==0.1.2
