---
title: Blog posts
extends: base.j2
default_block: content
summary: "All the blog posts of Val Markovic, creator of
          squishy bits made of software."
---

<h1 id="posts-heading">Blog posts</h1>
<ol id="post-list">
  {% for resource in
  site.content.node_from_relative_path('blog').walk_resources_sorted_by_date() | reverse %}

  {# We don't want to list blog posts in prod that have been tagged as 'ignore' #}
  {% if not ( site.config.mode == "production" and resource.meta.ignore ) -%}
  <li class="post-item">
    <div class="clearfix">
      <span class="post-date">{{ resource.meta.created.strftime("%B %d, %Y") }}</span>
      <h3 class="post-title"><a href="{{ resource.full_url }}">{{ resource.meta.title }}</a></h3>
    </div>
    <p class="post-summary">{{ resource.meta.summary }}</p>
  </li>
  {%- endif %}

  {% endfor %}
</ol>
