{% extends "base.j2" %}

{% block content %}

<article id="post">
  <header id="post-heading">
    <h1 id="post-title">{{resource.meta.title}}</h1>
    <h2 id="time">Posted <time
    class="timeago"
    datetime="{{ resource.meta.created|xmldatetime }}"></time>
            on {{ resource.meta.created.strftime("%B %d, %Y") }}</h2>
  </header>
  <div id="post-body">
    {% filter markdown -%}
    {% block blogpost %}{% endblock %}
    {%- endfilter %}
  </div>
</article>

{% endblock %}
