{% extends "base.j2" %}

{% block content %}

<article id="page">
  <header id="heading">
    <h1>{{resource.meta.title}}</h1>
    <h2 id="time">Posted <time
    class="timeago"
    datetime="{{ resource.meta.created|xmldatetime }}"></time>
            on {{ resource.meta.created.strftime("%B %d, %Y") }}</h2>
  </header>
  <div id="body">
    {% filter markdown -%}
    {% block blogpost %}{% endblock %}
    {%- endfilter %}
  </div>
</article>

{% endblock %}
