@import-once "building-blocks.less";
@import-once "elements.less";

#headshot {
  float: right;
  margin-left: @main-line-height;
  margin-top: 0.2em;
  border: solid 0.3em @text-color;
  .box-shadow( ~"0 0 2.2em rgba(255, 255, 255, 0.2)" );
}

@media only screen and (max-width: 600px) {
  #headshot {
    max-width: 40%;
    height: auto;
  }
}
