@import-once "building-blocks.less";
@import-once "elements.less";

#headshot {
  float: right;
  margin-left: @main-line-height;
  border: solid 0.3em @text-color;
  .box-shadow( ~"0 0 2.2em rgba(255, 255, 255, 0.2)" );
}
