@bg-color: #1B1B1B;
@text-color: #eeeeee;
@light-grey: darken(@text-color, 30%);
@dark-grey: #1a1919;
@link-color: #00A7F7;
@h1-font-size: 1.8em;

// normally this should be 1.5em, but Droid Serif has a large x-height
@main-line-height: 1.6em;
@main-font-size: 1em;

@main_header_top_margin: 1.3em;
@main_header_bottom_margin: 1.3em;
@main_header_content_height: 1em;
@main_header_full_height: @main_header_top_margin +
                          @main_header_content_height +
                          @main_header_bottom_margin;

.simonetta() {
  font-family: 'Simonetta', cursive;
}

.crete-round() {
  font-family: 'Crete Round', 'Helvetica', 'Arial', sans-serif;
}

.droid-serif() {
  font-family: 'Droid Serif', 'Georgia', serif;
}

.background-gradient( @arguments ) {
  background: -webkit-linear-gradient( @arguments );
  background: -moz-linear-gradient( @arguments );
  background: -ms-linear-gradient( @arguments );
  background: -o-linear-gradient( @arguments );
  background: linear-gradient( @arguments );
}

