// TODO: rename these so that they use _ as word separator
// main font size is 1em -> 16px
@bg-color: #FDFDFD;
@text-color: #222;
@light-grey: lighten(@text-color, 30%);
@super-light-grey: #F5F5F5;
@dark-grey: #1a1919;
@link-color: #008AFF;
@visited-link-color: #8947FF;
@h1-font-size: 1.75em;        // 16 * 1.75 = 28px
@h1-line-height: 1.1428571428571428;  // 28px * 1.142... = 32
@h1-margin: 1.2142857142857142em; // 28px * 1.214... = 34px (half of header height)
@h2-font-size: 1.375em;      // 16 * 1.375 = 22px
@h2-margin: 1.3636363636em;  // 22px * 1.36 = 25px

@main-line-height: 1.5625em;  // 16 * 1.6 = 25px
@main-font-size: 1em;

@main_header_top_margin: @main-line-height;
@main_header_bottom_margin: @main-line-height;
@main_header_content_height: 1em;
@main_header_full_height: @main_header_top_margin +
                          @main_header_content_height +
                          @main_header_bottom_margin; // = 68px

.secondary-serif() {
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

.primary-serif() {
  font-family: 'Crete Round', 'Helvetica', 'Arial', sans-serif;
}

.sans-serif() {
  font-family: 'Fira Sans', 'Trebuchet MS', sans-serif;
}

.monospace() {
  font-family: 'Consolas', 'Inconsolata', 'Menlo', 'Droid Sans Mono', 'Monaco', monospace, serif;
}

.background-gradient( @arguments ) {
  background: -webkit-linear-gradient( @arguments );
  background: -moz-linear-gradient( @arguments );
  background: -ms-linear-gradient( @arguments );
  background: -o-linear-gradient( @arguments );
  background: linear-gradient( @arguments );
}

.light-grey-shadow() {
  .box-shadow( ~"0 0 0.2em rgba(0, 0, 0, 0.12), 0 0 2.2em rgba(0, 0, 0, 0.10)" );
}
