@bg-color: #1B1B1B;
@text-color: #eeeeee;
@light-grey: darken(@text-color, 30%);
@dark-grey: #1a1919;
@link-color: #00A7F7;
@h1-font-size: 1.8em;

@main_header_top_margin: 1.3em;
@main_header_bottom_margin: 1.3em;
@main_header_content_height: 1em;
@main_header_full_height: @main_header_top_margin +
                          @main_header_content_height +
                          @main_header_bottom_margin;

.simonetta {
  font-family: 'Simonetta', cursive;
}

.crete-round {
  font-family: 'Crete Round', serif;
}

