@media only screen and (max-width: 600px) {
  #wrap {
    width: 100%;
  }

  body {
    font-size: 0.9em;
    margin: 0 2%;
  }

  #main-header {
    font-size: 1.2em;
  }

  #rss-link {
    top: 0.1em;
  }

  #main-links {
    margin-bottom: 0.8em;
    display: block;
    text-align: center;

    a {
      float: none;
    }
  }

  #navigation-links {
    float: none;

    > li {
      margin: 0;
      width: 33%;
      text-align: center;

      > a {
        margin: 0;
      }
    }
  }
}

